.app-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 1vmin);
  color: white;
}

.results-pane {
  width:25%;
  padding-left: 45px;
}

.player-pane {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex:75%;
}